@media (max-width: 767px) {
    .mobile-jumbo{
        height: auto;
    }
    
}
.jumbotron-full-page {
    min-height: calc(100vh);

}

.navbar-color {
    background-color: #000080;
}

.navbar-height {
    /*height: 105px;*/
}

.navbar-text-style {
    font-size: x-large;
}

.line-header {
    border-color: gold;
    width: 200px;
    border-top: 2px solid gold;
}

.index-text {
    color: #000080;
}

.photo-border {
    border-color: gold;
}

.border-container {
    border-style: ridge;
    border-color: gold;
}

.img-size {
    float: center;
    width: auto;
    height: 400px;
}

.button-width-style {
    width: 200px;
 
    font-size: large;
    text-align: center;
}

.instagram-color {
    color: pink;
}

.gold-icon {
    color: gold;
}

.submit-button {
    color: white;
    background-color: #000080;
}

.volunteer-text {
    font-size: large;
}

.option-textsize {
    font-size: x-large;
}
.radio-textsize {
    font-size: large;
}
.radio-buttonsize {
    transform: scale(1);
}

.landingpage-text {
    font-weight: bold;
}

.landingpage-font {
    color: #000080;
}

.landingpage-font2 {
    color: gold;
}

.select-font {
    color: grey;
    font-weight: 300;
}

.footer-color {
    background-color: #000080;
}

/* Social Media Buttons for Contact Us */

/* Style all font awesome icons */
.newfa {
    padding: 20px;
    font-size: 30px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .newfa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .newfa-twitter {
    background: #55ACEE;
    color: white;
  }

  .newfa-instagram {
    background: #be0653;
    color: white;
  }

